
.content-add-employee{
    height: 846px;
    margin-bottom: 115px;
}
.main-content-add-employee{
    margin-left: 30px;
    width: 1080px;
    height: 714px;
    border: 1px solid #A2A1A833;
    border-radius: 10px;
    padding: 20px;
}
.top-main-content-add-employee{
    width: 1040px;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    border-bottom: 1px solid #A2A1A833;
}
.top-main-content-add-employee p{
    padding-bottom: 10px;
}
.top-main-content-add-employee i{
    margin-right: 5px;
}

.top-main-content-add-employee-active{
    color: #7152F3;
    border-bottom: 5px solid #7152F3;
    padding-bottom: 10px;
}
#center-main-content-add-employee{
    margin-top: 30px;
    width: 100%;    
    height: auto;
}
.inspect-img{
    width: 100px;
    height: 100px;
    border: 1px solid #A2A1A833;
    border-radius: 10px;
    padding: 38px 40px;
    color: #797685;
}
input{
    padding: 20px;
}
.haft-input{
    width: 510px;
    height: 56px;
    border: 1px solid #A2A1A833;
    border: 1px solid #A2A1A833;
    border-radius: 10px;
    color: #29292ccc;
    padding: 0px 20px 0px 10px;
    margin: 3px;
    margin-top: 10px;
}
.full-input{
    width: 0px;
    height: 56px;
    border: 1px solid #A2A1A833;
    border-radius: 10px;
    color: #A2A1A8CC;
    padding: 0px 20px 0px 10px;
    margin-top: 10px;
}
.mini-input{
    padding: 0px 20px 0px 10px;
    width: 333px;
    height: 56px;
    border: 1px solid #A2A1A833;
    border-radius: 10px;
    color:  #29292ccc;
    margin: 5px;
    margin-top: 10px;
}
.date-wrapper {
  position: relative;
  display: inline-block;
}
.placeholder {
  position: absolute;
  left: 12px;
  top: 10px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s;
}

/* Khi input có giá trị thì ẩn placeholder */
.haft-input:valid + .placeholder,
.haft-input:focus + .placeholder {
  opacity: 0;
  transform: translateY(-5px);
}
.bottom-main-content-add-employee{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}
.btn-can-next{
    width: 91px;
    height: 50px;
    border: none;
    border-radius: 10px;
}
.next{
    background-color: #7152F3;
    color: #FFF;
}
.cancel{
    background-color: #A2A1A833;
    color: black;
}
