

.top-main-content-document-employee{
    width: 1040px;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    border-bottom: 1px solid #A2A1A833;
}
.top-main-content-document-employee-active{
    color: #7152F3;
    border-bottom: 5px solid #7152F3;
    padding-bottom: 10px;
}
.top-main-content-document-employee p{
    padding-bottom: 10px;
}
.top-main-content-document-employee i{
    margin-right: 5px;
}


.center-main-content-document-employee{
    margin-top: 30px;
    width: 1040px;
    height: 366px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
}

.box-upload-document-employee{
    padding-top: 5px;
    width: 510px;
    height: 173px;
}
.main-box-upload-document-employee{
    width: 510px;
    height: 133px;
    border: 1px dashed #7152F3;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-box-upload-document-employee p{
    color: #A2A1A8;
}
.main-box-upload-document-employee h2{
    font-size: 14px;
}
.main-box-upload-document-employee h3{
    font-size: 16px;
}
.btn-upload-document{
    width: 40px;
    height: 40px;
    border: none;
    background-color: #7152F3;
    border-radius: 10px;
}
.bottom-main-content-add-employee{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}
.btn-can-next{
    width: 91px;
    height: 50px;
    border: none;
    border-radius: 10px;
}
.next{
    background-color: #7152F3;
    color: #FFF;
}
.cancel{
    background-color: #A2A1A833;
    color: black;
}