#siderbar{
    margin-top: 20px;
    width: 280px;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-color: #A2A1A80D;
    margin-right: 30px;
}
.top-siderbar{
    width: 220px;
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    width: 123px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 36.41px;
    height: 36.41px;
}
.main-siderbar{
    width: 220px;
    height: 590px;
}
.menu{
    width: 220px;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu li{
    list-style: none;
    width: 220px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu li a {
    width: 191px;
    height: 24px;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #000;    
    padding: 10px 12px; 
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 300;
}
.menu li a i{
    font-size: 24px;
    margin-right: 20px;
}
.siderbar-active{
    width: 220px;
    height: 50px;
    background-color: #7152F30D;
    border-radius: 2px 10px 10px 2px;
    border-left:3px solid #7152F3;
    color: #7152F3;
}
.siderbar-active i{
    color: #7152F3;
}
.mode{
    width: 220px;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.btn-light{
    width: 110px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #7152F3;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 5px;
}
.btn-dark{
    width: 110px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #A2A1A80D;
}